@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
.Appointments {
  background: black;
  color: white;
  margin-bottom: 100px;
  width: 100%; /* Ajustez la largeur à 100% */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Appointments .Table {
  width: 100%;
}

  
  .button1 {
    background-color:#DAB650;
    color: black;
    padding: 10px 20px; /* Ajustez les valeurs de la marge intérieure selon vos besoins */
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border-radius: 5px; /* Ajoute des coins arrondis */
    width: 110px;
  }
  
  /* Style du bouton au survol */
  .button1:hover {
    transform: scale(1.1); /* Ajustez la valeur pour l'effet de zoom au survol */
  }
 
  
  .button2 {
    background-color: black; /* Fond noir */
    color: #DAB650;
    padding: 10px 20px; /* Ajustez les valeurs de la marge intérieure selon vos besoins */
    border: 2px solid #DAB650;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    border-radius: 5px; /* Ajoute des coins arrondis */
        width: 110px;
  }
  
  /* Style du bouton au survol */
  .button2:hover {
    transform: scale(1.1); /* Ajustez la valeur pour l'effet de zoom au survol */
  }
  
  /* Style du bouton au clic */
  .button2:active {
    background-color: #DAB650;
    color: black;
  }
.Appointments .buttonstable{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
