@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');
body {
    background-color:#0B0E15; /* Fond du corps en noir */
    color: white; /* Texte du corps en blanc */
}

.left-block {
    float: left;
    width: 25%;
}

.right-block {
    float: right;
    width: 75%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.space-between {
    margin-right: 10px;
}

.ProfilLawyer {
    margin: 50px;
}

.ProfilLawyer h1,
.ProfilLawyer h2,
.ProfilLawyer h3,
.ProfilLawyer p {
    color: white;
}

.ProfilLawyer .etoile {
    color: #DAB650;
    font-size: 30px;
}

.ProfilLawyer .logo{
    max-width: 25px; /* Ajustez la taille maximale des logos selon vos préférences */
    height: auto;
}

/* Ajouter ces styles pour personnaliser la modal */
/* Profil.css */

.buttonEdit {
 
    color: #DAB650;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #DAB650;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.2s ease-in-out;
    position: absolute;
    top: 25px;
    right: 96px;
    width: 120px;
    background-color: transparent;
  }

  


  